body {
	background: #ddd;
}

.icon-btn {
	background: #ddd;
	border-radius: 3px;
	border: 1px solid #eee;
	display: inline-block;
	width: 40px;
	height: 30px;
	padding: 10px 0;
	text-align: center;
}

.body td {
	border: 1px solid grey;
	margin: 0;
	padding: 20px;
	font-weight: bold;
	background: white;
}
.body td:first-child {
	border-left: 0;
}
.body td:last-child {
	border-right: 0;
}
table {
	border-collapse: collapse;
}
.note {
	color: grey;
	font-style: italic;
}
