body {
	background: #ddd;
}

.icon-btn {
	background: url(key.png);
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 43px;
	height: 43px;
	padding: 10px 0;
	text-align: center;
}

.body td {
	border: 1px solid grey;
	margin: 0;
	padding: 20px;
	font-weight: bold;
	background: white;
}
.body td:first-child {
	border-left: 0;
}
.body td:last-child {
	border-right: 0;
}
table {
	border-collapse: collapse;
}
.note {
	color: grey;
	font-style: italic;
}
